<div class="page">
    <div class="page__header">
        <app-header
            [regions]="regions"
            [selectedRegion]="selectedRegion"
            (onRegionSelect)="onRegionChange($event)"
        ></app-header>
    </div>

    <div class="page__sidebar">
        <app-sidebar
            [regions]="regions"
            [selectedRegion]="selectedRegion"
            [cities]="cities"
            [selectedCity]="selectedCity"
            (onCitySelect)="selectedCity = $event"
        ></app-sidebar>
    </div>

    <div class="page__content">
        <app-content
            [selectedCity]="selectedCity"
            [weatherData]="weatherData"
        ></app-content>
    </div>
</div>
