.card__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-left: 3px;
    .card {
        cursor: pointer;
    }
    .card:hover {
        transform: translateX(3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .selected {
        color: black;
        font-weight: 700;
        font-size: large;
    }
}
